<h3> Update Car</h3>
<form ng-if="complexForm != null" [formGroup]="complexForm" (ngSubmit)="updateCar(complexForm.value)">
  <div class="form-group">
    <label for=""><b>Id</b></label>
    <input type="text" class="form-control"  [formControl]="complexForm.controls['id']" 
      disabled>
   </div>
  <div class="form-group">
    <label for=""><b>Name</b></label>
    <input type="text" class="form-control"   [formControl]="complexForm.controls['name']">
    <div *ngIf="complexForm.controls['name'].hasError('required')" class="has-error">field required</div>    
  </div>
  <div class="form-group">
    <label for=""><b>Mark</b></label>
    <input type="text" class="form-control"   [formControl]="complexForm.controls['mark']">
    <div *ngIf="complexForm.controls['mark'].hasError('required')" class="has-error">field required</div>    
   </div>
   <div class="form-group">
    <label for=""><b>Model</b></label>
    <input type="text" class="form-control"   [formControl]="complexForm.controls['model']">
    <div *ngIf="complexForm.controls['model'].hasError('required')" class="has-error">field required</div>    
   </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit</button>
  </div>
</form>