  <div class="row">
      <div class="col-lg-8">
        <p><b>Filter by car id :</b>
          <select [(ngModel)]="selectedItem" (ngModelChange)="searchCar()" >
            <option   [value]="-1"   selected>choose option</option>
            <option  *ngFor="let item of listCars"  [value]="item.id" >{{item.name}}</option>
          </select>
        </p>
      </div>
      <div class="col-lg-4">
        <a class="btn btn-primary btn-xs pull-right " routerLink="/newcar" preserveQueryParams preserveFragment><b>+</b>  Add new car </a>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
      <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mark</th>
            <th>Model</th>
            <th>Registred Date</th>      
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of filtredCars">
            <td>{{car.id}} </td>
            <td>{{car.name}}</td>
            <td>{{car.mark}}</td>
            <td>{{car.model}}</td>
            <td>{{car.registered | date }}</td>
            <td>
              <button class="btn btn-link"  routerLink="/updatecar/{{car.id}}" preserveQueryParams preserveFragment>
                <i class="fa fa-pencil" aria-hidden="true"></i> Update 
              </button>
              <button class="btn btn-link" (click)="deleteCar(car.id)">
                <i class="fa fa-trash" aria-hidden="true"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 